@import "./colors.sass"
@import "./text.sass"
@import "./images.sass"
@import "./dimensions.sass"
@import "./reset.sass"


body
    font-family: $font-family
    font-weight: $font-weight
    font-size: $font-size-body
    background-image: $background-body
    background-color: $Very-dark-mostly-black-blue !important
    @include wh-100v()
    
    
footer
    position: absolute
    top: 100%
    border-color: $Dark-desaturated-blue

footer img
    @include w-100v()


#icons
    display: flex
    justify-content: center


#icons i
    margin: 0 10px

#icons i:hover
    color: $Soft-red


#countdown h3 
    text-align: center
    color: $White
    font-weight: $font-weight
    font-size: 2rem
    letter-spacing: .5rem
    padding: 5%
    

#targets, #legends
    display: flex
    justify-content: center
    align-items: center
    gap: 10px


.target
    display: flex
    justify-content: center
    align-items: center
    background-color: $Dark-desaturated-blue
    font-size: 5rem
    font-weight: $font-weight
    color: $Soft-red
    @include target-200x200()

.legend
    display: flex
    justify-content: center
    align-items: center
    letter-spacing: 2px
    font-size: 1.5rem
    color: $Grayish-blue
    font-weight: $font-weight
    width: 200px
    height: 100px

.target span 
    box-shadow: 1px 2px 2px
