@import "./colors.sass"
@import "./text.sass"
@import "./images.sass"
@import "./dimensions.sass"
@import "./reset.sass"

//breakpoints responsive design

$width-Mobile: 375px
$width-Desktop: 1440px

body
    font-family: $font-family
    font-weight: $font-weight
    font-size: $font-size-body
    background-image: $background-body
    background-color: $Very-dark-mostly-black-blue !important
    @include wh-100v()

footer
    position: relative
    // top: 100%
    border-color: $Dark-desaturated-blue

footer img
    @include w-100v()

#icons

    position: absolute
    left: 50%
    translate: -50%
    text-align: center
    padding-top: 5%

#icons i
    margin: 0 10px

#icons i:hover
    color: $Soft-red

#countdown h3
    text-align: center
    color: $White
    font-weight: $font-weight
    font-size: 2rem
    letter-spacing: .5rem
    padding: 5%

#targets, #legends
    display: flex
    justify-content: center
    align-items: center
    margin: 0 10%
    gap: 10px

.target
    display: flex
    justify-content: center
    align-items: center
    background-color: $Dark-desaturated-blue
    font-size: 5rem
    font-weight: $font-weight
    color: $Soft-red
    @include target-200x200()

.legend
    display: flex
    justify-content: center
    align-items: center
    letter-spacing: 2px
    font-size: 1.5rem
    color: $Grayish-blue
    font-weight: $font-weight
    @include target-200x200()

.target span
    box-shadow: 1px 2px 2px

@media only screen and (max-width: 375px)
    #countdown h3
        font-size: 1rem
        letter-spacing: .25rem
        margin: 0 auto

    #targets, #legends
        display: flex
        flex-direction: column


@media only screen and (max-width: 900px)

    .target, .legend
        width: 180px

    .target
        font-size: 4rem

    .legend
        font-size: 1rem

    footer
        position: absolute
        top: 100%
        border-color: $Dark-desaturated-blue

    // #targets, #legends
    //     flex-basis: 1
    //     flex-grow: 2
    //     flex-shrink: 4
